.player-connect-number {
    position: absolute;
    width: 40%;
    height: 50%;
    font-size: 130%;
    border-radius: 20px;
    margin-left: 20%;
    color: azure;
    text-align: center;
    margin-top: 1.7%;
    background: #1200b6;
}

.player-connect-head {
    position: absolute;
    background: #020020;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    color: azure;
    margin-top: 40%;
    margin-left: 65%;
    padding-top: 1%;
}
.player-connect {
    background: #0c0075;
    border-radius: 20px;
    margin: 3%;
}

.users {
    width: 21%;
    color: azure;
    padding: 1%;
    font-size: 150%;
}